<h1>Projects#new</h1>
<p>Find me in app/views/projects/new.html.erb</p>
<div>
  <%= form_for(@project) do |p| %>

   <%= p.label :title, "New project name"%>
   <%= p.text_field :title, class: "form-control" %>

   <%= p.submit "Add new project", class: "btn btn-primary" %>

  <% end %>
</div>
